<div>
<p>form works!</p>
<form [formGroup]="form">
    <label > Name</label>
    <input type="text"  formControlName="name"> <br><br>
    <label >MobNo</label>
    <input type="text" formControlName="mobileNo"><br><br>
    
    <button [disabled]="!form.valid" (click)="save()">save</button>
    
</form><br><br>
<div>
    <label>Search here  </label>
    <input type="text" [(ngModel)]="searchBoxVal"> 
</div>

<div *ngIf ="formData" class="table-container">
    <table>
       <tr>
        <th *ngFor ="let heading of tableHeading">{{heading}}</th>
       </tr> 
       <tr *ngFor ="let tableData of formData | filter : searchBoxVal"> 
        <td>{{tableData.Name}}</td>
        <td>{{tableData.MobileNumber}}</td>
        <td>{{tableData.id}}</td>

       </tr>
    </table>

</div><br><br>

<div>

    {{myName | uppercase}} <br>

    {{myName | lowercase}}
</div>
<div>
    {{todayDate}} <br>
    {{todayDate | date }} <br>
</div>