 <div class="parent">
    <h2 class="heading">My Application</h2>
    <button (click)="login()" class="btn-login">login</button> 
    <button routerLink="/signup" class="btn-login">signup</button>  
    <button (click)="studentActivity()" class="btn-login">Student Activity</button>  
    <button routerLink="/student/studentDemo" class="btn-login"> Student Demo</button>   
    <button (click)="directives()" class="btn-login">Directives</button>  
    <button (click)="signup()" class="btn-login">signupForm</button>  
    <button (click)="lifecyclehooks()" class="btn-login">lifecyclehooks</button>  
    <button (click)="parent()" class="btn-login">parent</button>  
    <button (click)="apicall()" class="btn-login">apicall</button> 
    <button (click)="form()" class="btn-login">form</button>
    <button (click)="fdata()" class="btn-login">fData</button> 
    <button (click)="getById()" class="btn-login">Matarel</button>
    <button (click)="updateDetails()"class="btn-login">updateDetails</button>
    <button (click)="subject()"class="btn-login">subject()</button>
 </div>
