 <div class="parent">
    <h2 class="heading">My Application</h2>
    <button (click)="login()" class="btn-login">login</button><br><br>
    <button routerLink="/signup" class="btn-login">signup</button><br><br>
    <button (click)="studentActivity()" class="btn-login">Student Activity</button><br><br>
    <button routerLink="/student/studentDemo" class="btn-login"> Student Demo</button> <br><br>
    <button (click)="directives()" class="btn-login">Directives</button><br><br>
    <button (click)="signup()" class="btn-login">signupForm</button><br><br>
    <button (click)="lifecyclehooks()" class="btn-login">lifecyclehooks</button><br><br>
    <button (click)="parent()" class="btn-login">parent</button><br><br>
 </div>
